body {
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

table td {
    font-size: .7rem;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
}
table th 
{
    font-size: .7rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

table.table-sm th, table.table-sm td {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    white-space: nowrap;
}
.table{
    margin-bottom : 0rem;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    top: 0;
    position: absolute;
    bottom: 0.5em;
    scroll-margin-top: block;
    opacity: .3;
}

ul.pagination {
    margin-bottom: 0rem;
}

label {
    margin: 0em;
}

div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 1rem;
    padding-bottom: 0rem;
    font-weight: 200;
}

.navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.jumbotron {
    background-color: aliceblue;
    padding: 1rem 1rem;
}

.form-control {
    font-size: 0.9rem;
    height: 1.3rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.btn{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 1rem;
    background-color: #5D6D7E;
    color: white;
    font-size : 7.5 rem;
    text-transform :none;
}

.form-group{
    margin-bottom: 0.5rem;
}

.open {
    color: #265481;
    background-color: #f8f9fa;
}


.treeview-animated.w-20 {
    height: 100%;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.3rem 0.3rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    background-color: #265481;
    color: white;
}

.modal-footer {
    padding : 0rem;
    margin-bottom : 0rem;
}
.modal-body {
    padding : 0rem;
    margin-bottom : -2rem;
}

.modal-dialog{
    max-width: 60rem;
    width: 40rem;
    height: 25rem;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.div_right {
    display: flex;
    justify-content: flex-end;
}

.th_title{
    background-color: lightblue;
}

.table-wrap {
  height: 80px;
  overflow-y: auto;
  overflow-x: auto;
  resize: horizontal;
}

.table-header-color
{
    background: #5D6D7E;
    color:white;
}

.fixed_headers thead th {
    position: sticky;
    top: 0;
    resize: horizontal;
    overflow: auto;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 0.75;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/*
    panel containers css to split the screen horizontally/vertically using splitter ============================================
*/
.panel-container-v {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-container-h {
  display: flex;
  flex-direction: column;
  border: 1px solid silver;
  overflow: hidden;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  white-space: nowrap;
}

.panel-top {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 5px;
  white-space: nowrap;
}

.panel-bottom {
  flex: 1 1 auto;
  /* resizable */
  padding: 5px;
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
}

.splitter-v {
  flex: 0 0 auto;
  width: 05px;
  cursor: col-resize;
}

.splitter-v-line {
  flex: 0 0 auto;
  width: 03px;
  background: silver;
  height: 100%;
  cursor: col-resize;
}

.splitter-h {
  flex: 0 0 auto;
  height: 5px;
  cursor: row-resize;
}

.splitter-h-line {
  flex: 0 0 auto;
  margin-top: 2px;
  height: 3px;
  background: silver;
  cursor: row-resize;
}

/*
    Column Resizer to resize the column for all html tables in general ============================================
*/
.resizer {
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  left: auto;
  width: 16px;
  cursor: col-resize;
}