{% load static %}
{% block content %}
  {% if list_dict_menu %}
    {% with list_dict_menu=list_dict_menu template_name="standard/std_context_menu.html" %}
      {% include template_name %}
    {% endwith %}
  {% else %}
    <h1>Not found </h1>
  {% endif %}
  {% with sales_list1=sales_list template_name="app_demo/tables/table_sales.html" %}
    {% include template_name %}
  {% endwith %}
  <script src="{% static './js/standard.js' %}"></script>
  <script>
    configSelectionEventWithContextMenu("dtBasic1");
    configOnSelectionView('dtBasic1',"{% url 'app_demo:index_sales_item_list' %}","sales_item_view");
  </script>
{% endblock %}