{% load static %}
{% block content %}
  {% if sales_item_list %}
    <table class="table table-striped table-bordered table-sm data-root" cellspacing="0" width="100%">
          <thead class="table-header-color">
              <tr>
                  <th class="th-sm">Sr.</th>
                  <th class="th-sm">Product</th>
                  <th class="th-sm">Cost</th>
                  <th class="th-sm">Manufacturer</th>
                  <th class="th-sm">Rate</th>
                  <th class="th-sm">Quantity</th>
                  <th class="th-sm">Amount</th>
              </tr>
          </thead>
          <tbody>
              {% for sales_item in sales_item_list %}
                  <tr>
                      <td class="node-value">{{sales_item.id}}</td>
                      <td>{{sales_item.product.name}}</td>
                      <td>{{sales_item.product.cost_rate}}</td>
                      <td>{{sales_item.product.manufacturer}}</td>
                      <td>{{sales_item.rate}}</td>
                      <td>{{sales_item.qty}}</td>
                      <td>{{sales_item.amount}}</td>
                  </tr>
              {% endfor %}
          </tbody>
    </table>
  {% else %}
    <h3>No Sales Item Informations</h3>
  {% endif %}

{% endblock %}